@import 'vars'

*, *::after, *::before
	box-sizing: border-box


body
	margin: 0
	font-family: 'Roboto Slab', monospace, sans-serif
	background-color: $bg
	color: #fff

main
	// padding-bottom: 60px
	.sect
		padding-bottom: 25px

.hide
	display: none !important

.deleted
	text-decoration: line-through
	cursor: text !important // important for joke xd

.preloader-img
	display: block



.error
	position: absolute
	bottom: -18px
	color: red
	font-size: 12px
	left: 50%
	transform: translateX(-50%)
	width: 100%
	text-align: center

.add
	position: relative

.container
	max-width: 1200px
	padding: 0 15px
	margin: auto
	&-fluid
		max-width: 100%
		padding: 0 5%
		margin: auto



#graphic
	position: absolute
	top: 0
	left: 0
	width: 100%
	min-height: 100vh
	z-index: 190
	background-color: #202122
	padding-bottom: 20px
	p
		span
			color: $percent

#graphicClose
	@extend #closeMenu

@import 'start'
@import 'login'
@import 'scrollbar'
@import 'menu'
@import 'pop'
@import 'header'
@import 'title'
@import 'create'
@import 'project'
@import 'liquid'
@import 'add'
@import 'charts'


